* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-1: #7918d2;
  --color-2: #6212bf;
  --color-3: #4c0cad;
  --color-4: #35069a;
  --color-5: #1e0087;
}
